<footer class="footer-distributed">
  <div class="left-box" >
    <label>© 2021 MovieFlix. All Rights Reserved Connect with us.
      <i style="display: inline" class="fa fa-facebook"></i>        &nbsp;
      <i style="display: inline" class="fa fa-twitter"></i>
    </label>
    <br>
    <p style="font-size: 8px; line-height: 140%">HBO, Home Box Office and all related channel and programming logos are service
      marks of, and all related programming<br> visuals and elements are the property of,
      Home Box Office, Inc. All rights reserved.
    </p>
  </div>
  <div class="right-box">
    <label> Get it on Mobile App
      <i style="display: inline" class="fab fa-google-play"></i>
      &nbsp;&nbsp;
      <i style="display: inline" class="fab fa-app-store"></i>
    </label>
  </div>
</footer>
