
footer{
  position: relative;
  border-top: 2px solid white;
  overflow-y: hidden;
  bottom: 0;
  width: 100%;
  font-family: "Bodoni MT";
  color: white;
  background-color: #141832;
  padding-right: 25px;
  padding-left: 25px;
  display: inline-flex;
  .footer-distributed{

  }
  .left-box{
    overflow-y:hidden ;
    text-align: center;
    width: 40%;
  }
  .right-box{
    float: right;
    width:55%;
    padding-top: 4px;
    text-align: right;
    font-size: 16px;
    color: white;
    i{
      font-size: 24px;
    }
  }

}
