
<router-outlet></router-outlet>


<div class="body" >

  <h4 class="logo-movieflix">MOVIE FLIX</h4>


  <div class="row col-4 col-s-8 center-box">
      <span>Welcome to our movie streaming page
         you can log and watch popular movies our
         click guest button go through and see our movies
      </span>
      <div class="d-flex justify-content-between" >
         <a routerLink="login">LOGIN</a>&nbsp;
         <a routerLink="signup">SIGNUP</a>
      </div>
  </div>

  <app-footer></app-footer>

</div>



