.body-admin{
  background-image: url('/assets/VBrzE9.jpg');
  background-size: cover;
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
  .button-group{
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    a{
      background-color: black;
      color: #004BFF;
      font-family: "Bebas";
      font-size: 32px;
      margin-right: 5px;
      padding: 10px;

    }
  }
}


