.body-admin-addmovie{
  background-color: black;
  background-size: cover ;
  overflow-y:auto ;
  position: relative;
  min-height: 100vh;
  color: white;




  form{
    margin-top:5% ;
    margin-left:5%;
    margin-bottom: 100px;
    .form-group{

      label{
        font-size: 20px;
        color: white;
      }
      select {
        option{
          font-size: 16px;
        }
      }
    }
    .submitbtn{
      margin-top: 10px;
    }
    button{
      background-color: black;
      padding-left: 20px;
      padding-right: 20px;
      font-family: "Bebas";
      color: #004BFF;
      text-align: center;
      z-index: 1;
      font-family: "Bebas";
      font-size: 36px;
    }
  }
  span{
    margin-bottom: 100px;
    margin-top: auto;
  }

  @media(max-width:1118px){

    .img1,.img2,.img3,.img4{
      display: none;
    }
  }

  .img1{
    position: absolute;
    float: right;
    right: 200px;
    top: 125px;
  }
  .img2{
    position: absolute;
    width: 150px;
    height: 200px;
    float: right;
    right: 20px;
    top: 425px;
  }
  .img3{

    position: absolute;
    transform: rotate(90deg);
    width: 150px;
    height: 300px;
    float: right;
    right: 375px;
    top: 525px;
  }
  .img4{
    position: absolute;
    transform: rotate(90deg);
    width: 150px;
    height: 300px;
    float: left;
    left: 100px;
    top: 825px;
  }





}
