<div class="body-admin-addmovie">

 <div class="loader" id="loader">
 </div>
 <app-nav></app-nav>

  <div *ngIf="uploadMessage">
    <div class="alert alert-danger" style="z-index: 1" role="alert">
      {{uploadMessage}}
    </div>
  </div>

  <form #addmovieForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputMovieName" class=" col-sm-2 col-form-label">Movie Name</label>
      </div>
      <div class="col-4 col-sm-10">
        <input type="text" class=" form-control" #name="ngModel" [class.is-invalid]="name.invalid && name.touched"  name="movieName" [(ngModel)]="movieModel.movieName" required
        id="inputMovieName"     placeholder="Movie Name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2">
        <label for="inputdate" class="col-sm-2 col-form-label">Date-of-Released</label>
      </div>
      <div class="col-4 col-sm-10">
        <input type="date" required #releasedDate="ngModel" [class.is-invalid]="releasedDate.invalid && releasedDate.touched" class="form-control" name="releasedDate" [(ngModel)]="movieModel.releaseDate"
               id="inputdate"     placeholder="2-2-2017">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputGenere" class=" col-sm-2 col-form-label">Genere</label>
      </div>
      <div class="col-4 col-sm-10">
        <select  required #genereArray="ngModel" [class.is-invalid]="genereArray.invalid && genereArray.touched"  class="form-select custom-select" multiple  name="genereArray" size="2"   id="inputGenere" [(ngModel)]="movieModel.geners" >
           <option *ngFor="let genere of genereInputList" [ngValue]="genere">{{genere}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputlanguage" class=" col-sm-2 col-form-label">Language</label>
      </div>
      <div class="col-4 col-sm-10">
        <select name="language" required #language="ngModel" [class.is-invalid]="language.invalid && language.touched" class="form-select" id="inputLanguage"  [(ngModel)]="movieModel.language" >
          <option *ngFor="let l of languageInputList" [ngValue]="l">{{l}}</option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputProducer" class=" col-sm-2 col-form-label">Producers</label>
      </div>
      <div class="col-4 col-sm-10">
        <input type="text" (change)="valuedividerProducer(producers)" #producers="ngModel" required [class.is-invalid]="producers.invalid && producers.touched" class="form-control" name="producers" id="inputProducer" [(ngModel)]="movieModel.producers" placeholder="Production company">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputDirector" class=" col-sm-2 col-form-label">Director</label>
      </div>
      <div class="col-4 col-sm-10">
        <input type="text" required #director="ngModel" [class.is-invalid]="director.invalid && director.touched" class="form-control" name="director"
               (change)="valuedividerDirector(director)"      [(ngModel)]="movieModel.directors"  id="inputDirector" placeholder="director">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputCaste" class=" col-sm-2 col-form-label">Caste List</label>
      </div>
      <div class="col-4 col-sm-10">
        <input type="text" required #caste="ngModel" [class.is-invalid]="caste.invalid && caste.touched"
               (change)="valuedividerCaste(caste)"     class="form-control" id="inputCaste" name="caste" [(ngModel)]="movieModel.castelist" placeholder="Caste1,Caste2,Caste3">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputLength" class=" col-sm-2 col-form-label">Movie-Length</label>
      </div>
      <div class="col-4 col-sm-10">
        <input required #runtime="ngModel" [class.is-invalid]="runtime.invalid && runtime.touched" type="text" class=" form-control" id="inputLength" name="runtime" [(ngModel)]="movieModel.runtime" placeholder="2:00:00 hrs">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputVideo-url" class=" col-sm-2 col-form-label">Videourl</label>
      </div>
      <div class="col-4 col-sm-10">
        <input required #videourl="ngModel" [class.is-invalid]="videourl.invalid && videourl.touched" type="url" class=" form-control" id="inputVideo-url" name="videourl" [(ngModel)]="movieModel.videourl" placeholder="https://www.youtube.com/">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2 ">
        <label for="inputLength" class=" col-sm-2 col-form-label" >Description</label>
      </div>
      <div class="col-4 col-sm-10">
        <textarea required #desc="ngModel" [class.is-invalid]="desc.invalid && desc.touched" class="form-control" id="exampleFormControlTextarea1" name="description" [(ngModel)]="movieModel.description" rows="3"></textarea>
      </div>
    </div>

        <div class="form-group row">
          <div class="col-2 ">
            <label for="inputLength"  class=" col-sm-2 col-form-label">Upload movie posters</label>
          </div>
          <div class="col-4 col-sm-10">
            <input required #file="ngModel" multiple (change)="selectFiles($event)" [class.is-invalid]="file.invalid && file.touched" type="file"
                      class="form-control-file" name="movieposters" [(ngModel)]="movieModel.poster" id="exampleFormControlFile1">
          </div>
        </div>


    <div class="form-group row">
      <div class="col-3 ">
        <label  class=" col-sm-2 col-form-label"></label>
      </div>
      <div class="submitbtn col-3 col-sm-10">
        <button [disabled]="addmovieForm.form.invalid" type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>

    <div *ngFor="let progressInfo of progressInfos" class="mb-2">

      <span>{{ progressInfo.fileName }}</span>
      <div class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progressInfo.percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progressInfo.percentage + '%' }"
        >
          {{ progressInfo.percentage }}%
        </div>
      </div>
    </div>

  </form>

  <div class="alert alert-light" role="alert">{{ message }}</div>

  <img class="img1" src="/assets/signup-images/images4.jpg">
  <img class="img2" src="/assets/signup-images/vertical-limit-movie-poster-2000-1020208849.jpg">
  <img class="img3" src="/assets/signup-images/images3.jpg">


  <app-footer></app-footer>

</div>
